flask
flask-restful
flask-jwt-extended
sqlalchemy
flask-sqlalchemy
marshmallow
flask-marshmallow
psycopg2-binary
pymysql
docker
pytest
pytest-cov
flask-testing
mock
requests
cerberus
bcrypt
flask-limiter
python-dotenv
redis
pika
kafka-python
elasticsearch
sphinx
gunicorn
black
flake8
